body {
    margin: 50px;
    padding: 100px;
    background-color: rgb(245, 240, 234);
    border: 1px solid black;
    padding-bottom: 0;
    padding-top: 10px;
}

.header {
    text-align: center;
    background-color: rgb(236, 232, 232);
    padding: 40px;
    margin-top: none;
}

.recipes-list {
    border: 1px solid rgb(185, 179, 179);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hw-to, .ingre, .direc {
    font-size: 20px;
    padding: 30px;
}

.direc, .ingre {
    margin-top: -20px;    
}

a {
    color: blue;
}